* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
	font: 400 15px/1.8 "Space Mono", monospace;
	color: #777;
}

a:link, a:visited {
	color: #383c43;
	text-decoration: none;
	transition: color 0.2s;
	font-weight: bold;
}

a:hover {
	color: #C3073F;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
}

table, tr, td, th {
	border: solid 1.5px black;
	border-spacing: 0;
	text-align: left;
	font-size: 15px;
}

td, th {
	padding: 5px;
}

th {
	  font-size: 20px;
}

.vidde {
	padding-left: 10px;
	padding-right: 10px;
}

#ramme-2 {
	position: relative;
	color: #73757a;
	width: 80%;
	margin-left: -40%;
	left: 50%;
	top: 60px;
	height: 500px;
}

#tabell {
	position: relative;
	padding-top: 15px;
	padding-right: auto;
	padding-left: auto;
}

/* Nav bar */
#navbox {
	position: fixed;
	width: 100%;
	height: 40px;
	font-size: 25px;
	border-bottom: solid black 2px;
	z-index: 1;
	background-color: #f4e842;
}

#navbox a:visited, #navbox a:link {
	color: #fff;
}

#navbox a:hover {
	color: black;
}

#navbox p {
	text-decoration: line-through;
}

#nav-home {
	float: left;
	padding-left: 25px;
}

#nav-dir {
	float: right;
	padding-right: 25px;
}