body {
    margin: 0;
    color: white;
    background-image: url(Bilder/background.png);
    background-size: cover;
}

#ramme1 {
    transition: margin-left .5s;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
}

#ramme2 {
    text-align: center;
    position: relative;
    max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#list {
    text-align: left;
    position: absolute;
    top: 100px;
    left: 15%;
}

#img1 {
    position: relative;
    border: solid 3px #fff;
    align-content: center;
    top: 270;
}

#img21, #img22, #img23 {
    position: relative;
    border: solid 3px #fff;
    align-content: center;
}

#img21 {
    top: 250px;
    right: 30px;
}

#img22 {
    top: 250px;
}

#img23 {
    top: 250px;
    left: 30px;
}

#img3 {
    position: relative;
    background-size: cover;
    border: solid 3px #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

#a2 {
    color:aquamarine;
    text-decoration: none;
}

#icon {
    position: absolute;
	font-size: 30px;
	color: white;
	text-decoration: none;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 200px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 13px;
    }
}

.section .feature {
	width: 100%;
    max-width: none;
    margin: 50px auto 120px;
    text-align: center;
}

.section {
	color: #ffaf00;
}
/* Video */
#video {
	height: 345;
	width: 420;
    position: relative;
    align-content: center;
    padding-bottom: 56.1%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    /* font: inherit; */
    vertical-align: top;
}