html {
    display: block;
    width: 800px; 
    height: 800px;
    margin: 0 auto;
    background: url(video.gif) 0 0 no-repeat;
    background-size: 100%;
}

div {
  width:100px;
  margin:0 auto;
  text-align:center;
}