* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
	font: 400 15px/1.8 "Space Mono", monospace;
	color: #777;
}

a:link,a:visited {
	color: #383c43;
	text-decoration: none;
	transition: color 0.2s;
	font-weight: bold;
}

a:hover {
	color: #C3073F;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
}

/* oppgaver.html */
#ramme {
	position: relative;
	color: #73757a;
	width: 80%;
	margin-left: -40%;
	left: 50%;
	top: 60px;
	height: 500px;
}

#head {
	position: relative;
	height: auto;
	width: 80%;
	left: 8%;
}

#head h2 {
	font-size: 42px;
}

#tabell {
	border-collapse: collapse;
	width: 100%;
}

#tabell td, #tabell th {
	border: solid 1px black;
	padding: 5px;
}

#tabell tr:nth-child(even) {
	background-color: lightblue;
}

#tabell tr:hover  {
	background-color: #ddd;
}

#tabell th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4286f4;
    color: white;
}

/* Nav bar */
#navbox {
	position: fixed;
	width: 100%;
	height: 40px;
	font-size: 25px;
	border-bottom: solid black 2px;
	z-index: 1;
	background-color: #b51f2c;
}

#navbox a:visited, #navbox a:link {
	color: #fff;
}

#navbox a:hover {
	color: black;
}

#navbox p {
	text-decoration: line-through;
}

#nav-home {
	float: left;
	padding-left: 25px;
}

#nav-dir {
	float: right;
	padding-right: 25px;
}