body {
    margin: 0;
    color: white;
    background-image: url(Bilder/)
}

#ramme1 {
    text-align: center;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    background-color: #210002;
    margin-left: auto;
    margin-right: auto;
}

#list {
    text-align: left;
    position: absolute;
    top: 100px;
    left: 15%;
}

img {
    border: solid 3px #fff;
    align-content: center;
}

#img1 {
    position: absolute;
    top: 135px;
    left; 20%;
    border: solid 3px #fff;
    align-content: left;
}

a {
    color: #fff;
    text-decoration: none;
}

#slide-toggle:link {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 38px;
    color: white;
    text-decoration: none;
}

#slide-toggle:visited {
    color: white;
    text-decoration: none;
}
