* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font: 400 16px/1.8 "Space Mono", monospace;
	color: #999;
}

h1 {
	text-align: center;
}

a:link, a:visited {
	color: #fff;
	text-decoration: none;
	transition: color 0.2s;
	font-weight: bold;
}

a:hover {
	color: #C3073F;
}

iframe {
	height: 25vw;
	width: 39.0625vw;
}

.bakgrunn-1 {
	background-image: url("Bakgrunn.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.overskrift {
	position: absolute;
	height: 50%;
	width: 45%;
	padding-top: 50px;
	padding-left: 3%;
	float: left;
}

.overskrift audio {
	padding-top: 15px;
}

.overskriftsize1 {
	font-size: 5vw;
	color: #09A5E5;
}

.overskriftsize2 {
	font-size: 4vw;
	color: #09A5E5;
}

#inneramme-1 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #2f3847;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 2.2fr 2.2fr 0.2fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  grid-template-areas: ". . . ."". ramme1 ramme2 ." ". . . .";
	grid-gap: 15px;
	z-index: 1;
}

.ramme1 {
  grid-area: ramme1;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
}

.ramme2 {
	grid-area: ramme2;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
}

/* linker */
.linkramme {
	padding-top: 40px;
	width: 70%;
	height: 90%;
	margin: auto;
	color: #fff;
	background-color: #2f3847;
}

/* Nav bar */
#navbox {
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: #2f3847;
	font-size: 25px;
	border-bottom: solid black 2px;
	opacity: 0.95;
	z-index: 1
}

#navbox a:visited, #navbox a:link {
	color: #fff;
}

#navbox a:hover {
	color: #C3073F;
}

#navbox p {
	text-decoration: line-through;
}

#nav-home {
	float: left;
	padding-left: 25px;
}

#nav-dir {
	float: right;
	padding-right: 25px;
}