html {
	background-color: #1A1A1D;
	color: #fff;
	font-family: 'Space Mono', monospace;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
}

/* 
.section {
	color: #fff;
}
*/

a:link, a:visited {
	color: #C3073F;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover {
	color: #fff;
}

/* Så resten ikke trenger å være position: absolute; */
body {
	position: relative;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}