* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #1A1A1D;
	color: #fff;
	font-family: 'Space Mono', monospace;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
}

a:link, a:visited {
	color: #C3073F;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover {
	color: #fff;
}

/* Så resten ikke trenger å være position: absolute; */
body {
	position: relative;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}

/* Nav bar */
#navbox {
	margin: 0px auto;
	width: 100%;
	height: 40px;
	background-color: #1A1A1D;
	font-size: 25px;
	color: #C3073F
}

#nav-home {
	float: left;
	padding-left: 25px;
}

#nav-dir {
	float: right;
	padding-right: 25px;
}