html {
	background-color: #1A1A1D;
	color: #fff;
	font-family: "Consolas";
	font-weight: 300;
	font-style: normal;
	text-align: center;
	font-size: 20px;
}

/* 
.section {
	color: #fff;
}
*/

a:link, a:visited {
	color: #950750;
	text-decoration: underline;
	transition: color 0.2s;
}

a:hover {
	color: #fff;
}

/* Så resten ikke trenger å være position: absolute; */
body {
	position: relative;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}