* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #fff;
	color: #73757a;
	font-family: 'Space Mono', monospace;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
}

a:link, a:visited {
	color: #383c43;
	text-decoration: none;
	transition: color 0.2s;
	font-weight: bold;
}

a:hover {
	color: #C3073F;
}

/* Så resten ikke trenger å være position: absolute; */
body {
	position: relative;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}

hr {
	background-color: black;
}

/* index.html */

#main-ramme {
	width: 100%;
	height: 100%
}

#main-sitat p {
	position: relative;
	left: 15%;
	width: 350;
}

#main-desc {
	position: relative;
	height: 200px;
	width: 450px;
	left: 8%;
	padding-top: 20px;
}

#main-oppgtitle {
	position: relative;
	margin-top: -100px;
	margin-bottom: 50px;
	width: 450px;
	left: 8%;
}

#main-imgsitat {
	width: 350px;
	position: absolute;
	top: 20px;
	left: 850px;
}

#main-sitat {
	position: absolute;
	left: -5px;
	font-size: 17.5px;
}

/* oppgaver.html */
#oppg-ramme {
	position: relative;
	color: #73757a;
	width: 80%;
	margin-left: -40%;
	left: 50%;
	margin-top: 20px;
	height: 500px;
}

#oppg-oppg {
	position: relative;
	height: 200px;
	width: 800px;
	top: 50px;
	left: 8%;
	font-weight: 500;
}


/* Nav bar */
#navbox {
	margin: 0px auto;
	width: 100%;
	height: 40px;
	background-color: #151922;
	font-size: 25px;
}

#navbox a:visited, #navbox a:link {
	color: #fff;
}

#navbox a:hover {
	color: #C3073F;
}

#nav-home {
	float: left;
	padding-left: 25px;
}

#nav-dir {
	float: right;
	padding-right: 25px;
}
