* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
	font: 400 15px/1.8 "Space Mono", monospace;
	color: #777;
}

a:link, a:visited {
	color: #383c43;
	text-decoration: none;
	transition: color 0.2s;
	font-weight: bold;
}

a:hover {
	color: #C3073F;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
}

img {
	border: solid #C3073F 2px;
}

/* index.html */

/*
.bakgrunn-1 {
	position: relative;
	opacity: 0.65;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bakgrunn-1 {
	background-image: url("Bilder/CharlottenlundVGSBakgrunn.jpg");
	height: 100%;
}

.tittel {
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #000;
}

.tittel span.ramme {
	background-color: #1a1a1a;
	color: white;
	padding: 18px;
	font-size: 72px;
	font-weight: 1000;
	letter-spacing: 10px;
}

.pil {
	position: fixed;
	content-align: center;
	bottom: 0px;
}

*/

/* Del 2 */
#inneramme-1 {
	position: relative;
	display: block;
	top: 50px;
	width: 100%;
	height: 90%;
	box-sizing: border-box;
}

.grid-container {
	display: grid;
	height: 100%;
	grid-template-columns: 0.3fr 1.7fr 1.7fr 0.3fr;
	grid-template-rows: 0.2fr 1.5fr 3fr 0.6fr;
	grid-template-areas: ". . . ."". Profilbilde Bio ."". Favorittnettsider Oppgaver ."". . . .";
}

.Bio, .Profilbilde, .Quote {
	margin-left: 5vw;
}

.Oppgaver, .Favorittnettsider {
	margin-left: 5vw;
}

.Bio {
	grid-area: Bio;
	margin-left: 0;
}

.Oppgaver {
	grid-area: Oppgaver;
	padding-left: 20px;
}

.Favorittnettsider {
	grid-area: Favorittnettsider;
	padding-left: 20px;
}

.Profilbilde {
	display: grid;
	grid-area: Profilbilde;
	grid-template-columns: 1fr;
	grid-template-rows: 1.5fr 0.5fr;
	grid-gap: 1px 1px;
	grid-template-areas: ".""Quote";
	padding-left: 5px;
}

.Quote {
	grid-area: Quote;
	margin-left: 0;
}

/* oppgaver.html */
#ramme-2 {
	position: relative;
	color: #73757a;
	width: 80%;
	margin-left: -40%;
	left: 50%;
	top: 60px;
	height: 500px;
}

#oppg-2 {
	position: absolute;
	height: auto;
	width: 800px;
	left: 8%;
	font-size: 22px;
}

#oppg-2 h2 {
	font-size: 42px;
}

/* Nav bar */
#navbox {
	position: fixed;
	width: 100%;
	height: 40px;
	font-size: 25px;
	border-bottom: solid black 2px;
	z-index: 1
}

#navbox a:visited, #navbox a:link {
	color: #fff;
}

#navbox a:hover {
	color: black;
}

#navbox p {
	text-decoration: line-through;
}

#nav-home {
	float: left;
	padding-left: 25px;
}

#nav-dir {
	float: right;
	padding-right: 25px;
}