* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font: 400 15px/1.8 "Space Mono", monospace;
	color: #777;
}

h1 {
	text-align: center;
}

a:link, a:visited {
	color: #383c43;
	text-decoration: none;
	transition: color 0.2s;
	font-weight: bold;
}

a:hover {
	color: #C3073F;
}

#ramme {
	position: relative;
	display: block;
	width: 100%;
	height: 90%;
	top: 40px;
	padding-top: 20px;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
}

#imglag {
	height: 500px;
}

#imglay {
	height: 270px;
	padding: 23px;
}

#tabell {
	margin: auto;
	width: 40%;
	font-size: 25px;
	padding-top: 15px;
	border: solid 3px crimson;
}

#bilde {
	font-size: 25px;
	padding-top: 15px;
}

.vidde {
	padding-left: 10px;
	padding-right: 10px;
}

.bilde {
	border: solid 3px crimson;
}


/* Nav bar */
table {
	width: 100%;
}

td {
	vertical-align: top;
}

#navbox {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #b51f2c;
	font-size: 25px;
}

#navbox a:visited, #navbox a:link {
	color: #fff;
}

#navbox a:hover {
	color: black;
}

#navbox p {
	text-decoration: line-through;
}

#nav-home {

	width: 43.5%;
	padding-left: 25px;
}

#nav-midd {
	text-align: center;
	width: 13%;
}

#nav-dir {
	text-align: right;
	width: 43.5%;
	padding-right: 25px;
}
