* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #fff;
	height: 100%;
	font: 400 15px/1.8 "Space Mono", monospace;
	color: #777;
}

a:link, a:visited {
	color: #383c43;
	text-decoration: none;
	transition: color 0.2s;
	font-weight: bold;
}

a:hover {
	color: #C3073F;
}

/* Så resten ikke trenger å være position: absolute; */

h1, h2, h3, h4 {
	text-transform: uppercase;
}

hr {
	background-color: black;
}

h2 {
	text-decoration: underline;
	padding-left: 7px;
}

img {
	padding-left: 7px;
	padding-top: 5px;
}

#ramme {
	position: relative;
	color: #73757a;
	width: 90%;
	margin-left: -45%;
	left: 50%;
	height: auto;
}

#innhold {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50px;
	left: 4%;
	font-weight: 500;
	border-left: solid black 3px;
	padding-right: 3px
}

/* Nav bar */
#navbox {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #805b0d;
	font-size: 25px;
}

#navbox a:visited, #navbox a:link {
	color: #fff;
}

#navbox a:hover {
	color: #C3073F;
}

#navbox p {
	text-decoration: line-through;
}

#nav-home {
	float: left;
	padding-left: 25px;
}

#nav-dir {
	float: right;
	padding-right: 25px;
}
